<div class="plant-content">
  <div class="plant-content-background">
    <div class="plant-content-back">
       <%= link_to ('<i class="fa fa-times-circle"></i>').html_safe, :back %>
    </div>
    <div class="plant-content-name">
      <h2>
        <% if plant.scientific_name %>
            <span><%= plant.common_name %></span>
            <span id="sci-name"><%= plant.scientific_name %></span>
        <% else %>
           <span><%= plant.common_name %></span>
        <% end %>
      <div class="plant-content-price">
        $<%= plant.price.to_i %>
      </div>
      <hr>
      </h2>
    </div>
    <hr>
    <div class="content-add-to-cart-form">
      <%= render "order_items/form", plant: plant, order_item: order_item %>
    </div>
    <div class="content-description">
      <hr>
      <h4>Description</h4>
      <%= plant.description %>
      <hr>
    </div>
    <div class="content-descriptors">
      <div class="content-height">
        <h4>Height</h4>
        <%= plant.height.to_i %> inches
      </div>
      <div class="content-sun">
        <h4>Sunlight</h4>
        <%= plant.show_sun_level %>
      </div>
      <div class="content-water">
        <h4>Water</h4>
        <%= plant.show_water_level %>
      </div>
    </div>
    <% if plant.special_care %>
      <h4>Special care instructions</h4>
      <%= plant.special_care %>
    <% end %>
  </div>
</div>
