<div class="plant-content" id="show-cards">
  <div class="plant-content-background">
    <div class="plant-content-back">
       <%= link_to ('<i class="fa fa-times-circle"></i>').html_safe, :back %>
    </div>
    <div class="plant-content-name">
      <h2>
        <% if plant.scientific_name %>
            <span><%= plant.common_name %></span>
            <br>
            <span id="sci-name"><%= plant.scientific_name %></span>
        <% else %>
           <span><%= plant.common_name %></span>
        <% end %>
      <div class="plant-content-price">
        $<%= plant.price.to_i %>
      </div>
      <hr>
      </h2>
    </div>
    <hr>
    <div class="content-add-to-cart-form">
      <%= render "order_items/form", plant: plant, order_item: order_item %>
    </div>
    <div class="content-description">
      <hr>
      <%= plant.description %>
      <hr>
    </div>
    <div class="content-descriptors">
      <div class="content-height">
        <h4><i class="fa fa-arrows-v" aria-hidden="true"></i>
          <%= plant.height.to_i %> inches
        </h4>
      </div>
      <div class="content-sun">
        <h4>
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          <%= plant.show_sun_level %>
        </h4>
      </div>
      <div class="content-water">
        <h4>
          <i class="fa fa-tint" aria-hidden="true"></i>
          <%= plant.show_water_level %>
        </h4>
      </div>
    </div>
    <% if plant.special_care %>
      <h4>Special care instructions</h4>
      <%= plant.special_care %>
    <% end %>
  </div>
</div>

<script>
  document.on("turbolinks:load", function() {
    $('#show-cards').fadeTo("slow", 1);
})
</script>
