<%= link_to plant_path(plant) do %>
  <div class="card-container" style="height:<%= height %>">
    <div class="card-img" id="img" style="background-image: url('<%= cl_image_path plant.photo.path, crop: :fill %>'); height: <%= height %>">
    </div>
    <span class="card-content">
      <h2><%= plant.common_name %></h2>
    </span>
  </div>
<% end %>
