<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

    <% if current_order.num_of_items > 0  %>
      <%= link_to order_path(current_order), id: "shopping-cart" do %>
        <div class="navbar-sprout-item navbar-sprout-link"><%= current_order.num_of_items %> <i class='fa fa-shopping-cart'></i></div>
      <% end %>
    <% else %>
      <%= link_to order_path(current_order), id: "shopping-cart" do %>
        <div class= "navbar-wagon-item navbar-wagon-link"><i class='fa fa-shopping-cart'></i></div>
      <% end %>
    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- cart summary appear -->
<div class="navbar-cart-summary hidden", id="cart-summary">
  <%= render "orders/mini_cart", order_items: current_order.order_items %>
</div>

<%= javascript_tag do %>
  shoppingCart = document.getElementById("shopping-cart");
  cartSummary = document.getElementById("cart-summary");
  shoppingCart.addEventListener("click", (event) => {
    event.preventDefault();
    cartSummary.classList.remove("hidden");
  });
<% end %>



