<div class="card-container">
  <%= link_to plant_path(plant) do %>
    <div class="card-img" style="background-image: url('<%= cl_image_path plant.photo && plant.photo.path || '/' %>'); height: <%= height %>;">
      <div class="card-content">
        <div class="card-item card-name ">
          <h2><%= plant.common_name %></h2>
        </div>
        <div class="card-item card-price">
          <p><%= plant.price %></p>
        </div>
        <div class="card-item card-info">
          <ul>
            <li>
              <i class="fa fa-sun-o" aria-hidden="true"></i>
              <p><%= plant.sun_level %></p>
            </li>
            <li>
              <i class="fa fa-tint" aria-hidden="true"></i>
              <p><%= plant.water_level %></p>
            </li>
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <p><%= plant.care_level %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
