<%= form_for(:journey, url: journey_path) do |f| %>
<div class="sun">
  Sun:  <%= radio_button_tag(:sun, "full") %>
        <%= label_tag(:sun_full, "Full Sun") %>
        <%= radio_button_tag(:sun, "partial") %>
        <%= label_tag(:sun_partial, "Partial Sun") %>
        <%= radio_button_tag(:sun, "none") %>
        <%= label_tag(:sun_none, "Full Shade") %>
  <button id="next">Next</button>
</div>
<div class="care default-hidden">
  Care: <%= radio_button_tag(:care, "easy") %>
        <%= label_tag(:care_easy, "Easy") %>
        <%= radio_button_tag(:care, "medium") %>
        <%= label_tag(:care_medium, "Medium") %>
        <%= radio_button_tag(:care, "hard") %>
        <%= label_tag(:care_hard, "Hard") %>
  <button id="next">Next</button>
</div>
<% end %>
<div class="results default-hidden">

</div>

<script>
  const next = document.getElementById("next");
  next.addEventListener("click", (event) => {
    next.parent().css("display", "none")
    next.parent().next(".div").css("display", "inline")
  });
</script>
