<%= form_with scope: :post, remote: true, url: journey_path do |f| %>
<div class="size">
  Size: <%= radio_button_tag(:size, 4) %>
        <%= label_tag(:size_large, "Grande") %>
        <%= radio_button_tag(:size, 3) %>
        <%= label_tag(:size_medium, "Tall") %>
        <%= radio_button_tag(:size, 2) %>
        <%= label_tag(:size_small, "Short") %>
        <%= radio_button_tag(:size, "nil") %>
        <%= label_tag(:suspended, "Hung?") %>
        <%= radio_button_tag(:size, 0) %>
        <%= label_tag(:no_pref, "No Preference") %>
  <div class="next">Next</div>
</div>
<div class="sun default-hidden">
  Sun:  <%= radio_button_tag(:sun, 3) %>
        <%= label_tag(:sun_full, "Full Sun") %>
        <%= radio_button_tag(:sun, 2) %>
        <%= label_tag(:sun_partial, "Partial Sun") %>
        <%= radio_button_tag(:sun, 1) %>
        <%= label_tag(:sun_none, "Full Shade") %>
  <div class="next">Next</div>
</div>
<div class="care default-hidden">
  Care: <%= radio_button_tag(:care, 1) %>
        <%= label_tag(:care_easy, "Easy") %>
        <%= radio_button_tag(:care, 2) %>
        <%= label_tag(:care_medium, "Medium") %>
        <%= radio_button_tag(:care, 3) %>
        <%= label_tag(:care_hard, "Hard") %>
  <%= f.submit "Submit", class: "next btn" %>
</div>
<% end %>

<!-- We need to render results  -->
<div id="results">

</div>

<script>
  const buttons = document.body.querySelectorAll('.next');
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', (event) => {
      console.log("hey");
      $(event.currentTarget).parent().hide();
      $(event.currentTarget).parent().next().show();
      });
    }
</script>
