<%= simple_form_for :journey do |f| %>
<div class="sun">
  <%= f.input :sun, label: 'How sunny is your space?', collection: 1..3 %>
  <%= f.button :button, "Next",  id: "next"  %>
</div>
<div class="care default-hidden">
  <%= f.input :care, label: 'How easy to care for?', collection: 1..3 %>
  <%= f.button :button, "Next",  id: "next" %>
</div>
<div class="room default-hidden">
  <%= f.input :room, label: 'Which room will it be in?', required: false, collection: 1..3 %>
  <%= f.button :button, "Next",  id: "next" %>
</div>
<div class="other default-hidden">
  <%= f.input :care, label: 'How easy to care for?', collection: 1..3 %>
  <%= f.button :submit %>
</div>
<% end %>
</div>
<div class="results">

</div>

<script>
  const next = document.getElementById("next");
  next.addEventListener("click", (event) => {
    next.parent().css("display", "none")
    next.parent().next().css("display", "inline")
  });
</script>
