<div class="leaves-background col-sm-12">
<div class="container">
  <div class="row">
    <h1 class="title-1">CHECKOUT</h1>
  </div>
  <div class="row">
    <div class="checkout-container">
      <div class="checkout-forms">
        <div class="checkout-steps">
          <div class="checkout-step active" id="step-1">
            <h4 class="title-3">Shipping</h4>
          </div>
          <div class="checkout-step" id="step-2">
            <h4 class="title-3">Payment</h4>
          </div>
        </div>
        <div class="checkout-form" id="address-form">
          <h3 class="title-2">Enter Shipping Address</h3>
          <%= render "addresses/form", address: @address, order: current_order %>
          <button class="sprout-btn sprout-cta" id="payment-btn">Continue to Payment</button>
        </div>
        <div class="checkout-form hidden" id="payment-form">
          <h3>Enter Payment Information</h3>
          <%= render "payment_form" %>
          <%= link_to "Place Order", orders_path, method: :post, class: "sprout-btn" %>
        </div>
      </div>
      <div class="order-summary">
        <h4 class="order-header">Order Summary</h4>
        <%= render 'mini_cart', order_items: current_order.order_items %>
        <%= render 'order_totals_table', order: current_order %>
      </div>
    </div>
  </div>
</div>
</div>

<%= javascript_tag do %>
  paymentBtn = document.getElementById("payment-btn");
  addressForm = document.getElementById("address-form");
  paymentForm = document.getElementById("payment-form");
  step1 = document.getElementById("step-1");
  step2 = document.getElementById("step-2");
  paymentBtn.addEventListener('click', (event) => {
    addressForm.classList.add("hidden");
    paymentForm.classList.remove("hidden");
    step1.classList.remove("active");
    step2.classList.add("active");
  });
<% end %>
