<div class="leaves-background col-sm-12">
<div class="container">
  <div class="row">
    <h1 class="title-1">CHECKOUT</h1>
  </div>
  <div class="row">
    <div class="checkout-container">
      <div class="checkout-steps">
        <div class="checkout-step active" id="step-1">
          <h4 class="title-3">Shipping</h4>
        </div>
        <div class="checkout-step" id="step-2">
          <h4 class="title-3">Payment</h4>
        </div>
        <div class="checkout-step" id="step-3">
          <h4 class="title-3">Confirmation</h4>
        </div>
      </div>
      <div class="checkout-form form-login" id="address-form">
        <h3 class="title-2">Enter Shipping Address</h3>
        <%= render "addresses/form", address: @address, order: current_order %>
        <button class="sprout-btn sprout-cta" id="payment-btn">Continue to Payment</button>
      </div>
      <div class="checkout-form form-login hidden" id="payment-form">
        <h3>Enter Payment Information</h3>
        <%= render "payment_form", order: current_order %>
        <button class="sprout-btn sprout-cta" id="order-btn">Order</button>
      </div>
      <div class="checkout-form form-login hidden" id="order-form">
        <h3> Thanks for shopping with us, <%= current_user[:first_name] %>! </h3>
        <h3> Your order will be shipped out ASAP to: </h3>
        <br>
        <h5><%= current_order.address[:street_address].titleize %>. </h5>
        <h5><%= current_order.address[:city].titleize %>, <%= current_order.address[:country].titleize %></h5>
        <h5><%= current_order.address[:postal_code].upcase %></h5>
      </div>
      <div class="order-summary">
          <h4 class="order-header title-2">Order Summary</h4>
        <div class="order-summary-box">
          <%= render 'mini_cart', order_items: current_order.order_items %>
          <%= render 'order_totals_table', order: current_order %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= content_for(:after_js) do%>
  <%= javascript_tag do %>
    paymentBtn = document.getElementById("payment-btn");
    paymentBtn.addEventListener('click', (event) => {
    console.log('/orders/<%= current_order.id%>/addresses');
      let data = { address: {
                  street_address: $('#address_street_address').val(),
                  city: $('#address_city').val(),
                  country: $('#address_country').val(),
                  postal_code: $('#address_postal_code').val(),
                  phone_number: $('#address_phone_number').val(),
                  first_name: $('#address_first_name').val(),
                  last_name: $('#address_last_name').val()
                  } }
        $.ajax({
         url: '/orders/<%= current_order.id%>/addresses',
         data,
         type: 'POST'
        });
      orderBtn = document.getElementById("order-btn");
      paymentForm = document.getElementById("payment-form");
      orderForm = document.getElementById("order-form");
      step2 = document.getElementById("step-2");
      step3 = document.getElementById("step-3");
      orderBtn.addEventListener('click', (event) => {
        paymentForm.classList.add("hidden");
        orderForm.classList.remove("hidden");
        step2.classList.remove("active");
        step3.classList.add("active");
      })
    });
  <% end %>
<% end %>









