<div class="plants-container">
  <div class="nav-container col-md-1 no-gutters">
    <ul id="navScroll">
      <% @plants.each_slice(2).with_index do |plants, index| %>
        <% if index == 0 %>
           <li aria-label="<%= index + 1 %>" class="active">
            <%= link_to "#{plants.first.common_name} & #{plants.last.common_name}", plants_path + "#plants_row_#{index + 1}"%>
            <em style="height: 22.9679%;"></em>
            <span><%= index + 1 %></span>
          </li>
        <% elsif index == -1%>
          <li aria-label="<%= index + 1 %>">
            <%= link_to "#{plants.last.common_name}", plants_path + "#plants_row_#{index + 1}"%>
            <em style="height: 22.9679%;"></em>
            <span><%= index + 1 %></span>
          </li>
        <% else %>
          <li aria-label="<%= index + 1 %>">
            <%= link_to "#{plants.first.common_name} & #{plants.last.common_name}", plants_path + "#plants_row_#{index + 1}"%>
            <em style="height: 22.9679%;"></em>
            <span><%= index + 1 %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="cards col-md-10 offset-md-1 no-gutters">
    <% if @plants.any? %>
      <% @plants.each_slice(2).with_index do |plants, index| %>
        <% if plants.count == 2%>
          <div class="card-row" id="plants_row_<%= index + 1 %>">
              <div class="col-xs-12 col-md-6 no-gutters">
                <%= render partial: 'components/plant', locals: { plant: plants.first, card_height: "700px", img_height: 600, pos: "1" } %>
              </div>
              <div class="col-xs-12 col-md-6 no-gutters" >
                <%= render partial: 'components/plant', locals: { plant: plants.last, card_height: "700px", img_height: 600, pos: "2" } %>
              </div>
            <div class="w-100"></div>
          </div>
        <% else %>
           <div class="card-row" id="<%=plants.last.common_name%>">
            <div class="col-xs-12 col-md-6 no-gutters" >
              <%= render partial: 'components/plant', locals: { plant: plants.last, card_height: "700px", img_height: 600, pos: "2" } %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="filter-message">
        <p>Unfortunately, we have no plants that match the filter options entered.</p>
        <br>
        <%= link_to "Back", plants_path, class: "sprout-btn sprout-secondary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1 offset-md-11 no-gutters nav-container filter-container">
    <ul class="filters">
      <%= form_tag(plants_path, method: :get) do %>


        <li class="filter-category">
          <div class= "filter-checkboxes">
            <div class="inner-filter-content">
               <%= select_tag(:size, options_for_select([['small', 1],['medium', 3],['large', 3]])) %>
            </div>
          </div>
          <span><%= label_tag "size" %></span>
        </li>


        <li class="filter-category">
          <div class= "filter-checkboxes">
            <div class="inner-filter-content">
              <%= select_tag(:care_level, options_for_select([['1', 1],['2', 2],['3', 3]])) %>
            </div>
          </div>
          <span><%= label_tag "care" %></span>
        </li>

        <li class="filter-category">
          <div class= "filter-checkboxes">
            <div class="inner-filter-content">
               <%= select_tag(:sun_level, options_for_select([['sun', 1],['partial', 2],['shade', 3]])) %>
            </div>
          </div>
          <span><%= label_tag "sun" %></span>
        </li>
        <%= button_tag(type: "submit", class: "btn btn-success") do %>
            <i class='fa fa-search' aria-hidden='true'></i>
        <% end %>
    <% end %>
  </div>
</div>

<script>
  <%= render 'plants/index.js.erb' %>
</script>
