<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag(source='favicon.ico')%>
    <title>sprout mtl: find your perfect plant</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <!-- <script src="/assets/jquery_ujs.js" type="text/javascript"></script> -->
  </head>
  <body>
    <div id="main-container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
